<h1>About Our Contests</h1>
<p>These are not your usual contests. We have a slightly nutty system—but it works.
You're competing for fame and glory: We’ll be shouting the winner’s name from the rooftops! (And by rooftops, we mean featuring the winning recipe on our site and in one of our email newsletters.) Remember, all contest finalists get prime placement in our recipe search and are always most likely to be featured.</p>
<h2>Here's how our contests work:</h2>
<p>Every two months, on the 15th, we'll solicit recipes for different themes (e.g., Your Best Shrimp Recipe, Your Best Chilled Soup, Your Best Summer Cocktail). This means, in 2018, contests will launch on 12:00 PM ET on January 15th, March 15th, May 15th, July 15th, September 15th, and November 15th.</p>
<p>You'll have a little over two weeks, until 6:00 PM ET on the final day of the month (either the 30th or the 31st depending on the month), to submit your recipes. The exact day your recipe needs to be in will be included in the contest announcement. We’re really excited about new recipes, but existing recipes can be submitted too.
</p>
<p>
	For the next two weeks, we’ll be narrowing down the selections. To help us do so, we’ll be depending on your input—which recipes you favorite and your comments on each recipe. We’ll announce a list of 5 contenders on the 15th of the second month at 12:00 PM ET (so, for 2018: February, April, June, August, October, December).
</p>
<p>
	The 5 recipe contenders will all be made in our test kitchen and reviewed by our team members. (We hope you’ll test some of them at home in your own kitchen as well, so you’ll be ready to vote.)
</p>
<p>
	After testing, we’ll whittle it down to 2 finalists. We’ll announce them on the 1st of the third month at 12:00 PM ET (so, for 2018 contests: March 1, May 1, July 1, September 1, November 1, and January 1, 2019). Then we’ll open up voting. You’ll have about a week to check out the finalists, cook the recipes, and document the results. You can cast your vote on the site (good old democracy!). The deadline to cast your vote will be 12:00 PM EST/EDT on the 8th of that month.
</p>
<p>
	Thanks for reading.
</p>